.text{
    font-size: 20px;
    font-weight: 200;
    margin-left: 15px;
    margin-top: 50px;
    font-family:cursive !important;
    z-index: 1000;
    
}
body{
    overflow-x: hidden !important;
}
.about{
    font-weight: 800;
    margin-left: 550px;
    margin-top: 140px;
    z-index: 1000;
}
.logoabout{
    margin-left: 425px;
    margin-top: 40px;
    width: 500px;
    height: 80px;
    z-index: 1000;
}
@media screen and (min-width:320px)and (max-width:425px){
    h1.about {
        margin-left: 30px !important;
    }
    .text{
        margin-left: 10px;
    }
  }
